


.profil {
    margin-right: 5em;
    padding: 1em 1.1em;
    min-width: 17em;
    max-height: 24em;
    background: lighten($color, 50);
    border-radius: .5em;


    @media (max-width: 768px) {
        display: none;
    }


    &__container {
        width: 100%;
        height: 100%;
    }

    &__image {
        position: relative;
        margin-bottom: 2em;

        max-width: 17em;
        height: 12.3em;
        border-radius: .5em;
        overflow: hidden;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
    }

    &__user {
        margin-bottom: 2.6em;
        padding: .6em 1em;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .5em;
        background: lighten($color, 0);
        width: 100%;
        text-decoration: none;
        color: rgb(239, 239, 239);
        transition: background .5s ease-in-out;

        &:hover {
            background: black;
        }

        span {
            margin-left: .5em;
        }
    }

    &__friends {
        display: flex;
        flex-direction: column;
    }

    &__public {
        margin-bottom: .6em;
        padding-bottom: .5em;
        border-bottom: 1px dashed rgb(204, 204, 204);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    &__bloc {
        display: flex;
        align-items: center;
    }

    &__friend {
        margin-left: .5em;
        font-size: .79em;
    }

    &__legth {
        padding: .55em .6em;
        border-radius: 50%;
        font-size: .7em;
        background: black;
        color: white;
    }
}