



.signup {
    padding-top: 9em;
    position: relative;
    height: 100%;
    z-index: 5;
    background: url('../assets/12.jpeg') no-repeat center center / cover;

    &::after {
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 30em;
        height: 100%;
        background: linear-gradient(to right, #ffffff, #ffffff, rgb(255, 255, 255), rgba(255, 255, 255, 0));
        z-index: -1;
    }

    @media (max-width: 1440px) {
        height: 100%;

        &::after {
            content:"";
            background: linear-gradient(to right, #ffffff, #ffffff, rgb(255, 255, 255),#ffffff, #ffffffe2, rgba(255, 255, 255, 0));
        }
    }

    @media (max-width: 768px) {
        padding: 0 1.8em;
        padding-top: 18em;
        font-size: calc(0 * 0vw + 1.2em);
        background: transparent;
    }

    @media (max-width: 550px) {
        font-size: calc(0 * 0vw + 1.6em);
    }


    &__container {
        padding-bottom: 5em;
        height: 100%;
        z-index: 10;
    }

    &__free {
        margin-bottom: 1em;
        display: inline-block;
        color: #9e9e9e;
    }

    &__title {
        margin-bottom: 1.3em;
        font-weight: 500;
        font-size: 2em;
    }

    &__quest {
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        // background: green;
        // max-width: 25%;
    }

    &__q {
        font-size: .65em;
        text-decoration: none;
        color: #1d1d1d;

        &:last-child {
            margin-left: .4em;
            color: $color;
        }
    }

    &__form {
        max-width: 21%;

        @media (max-width: 1440px) {
            max-width: 25%;
            // border: 1px solid red;
        }

        @media (max-width: 768px) {
            font-size: calc(0 * 0vw + 1.1em);
            max-width: 100%;
        }
    }

    // &__card {

    // }

    &__card__top {
        display: flex;
        align-items: center;

        > input {
            margin-right: 1em;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__input {
        margin-bottom: 1.6em;
        padding: 1.1em 1em;
        outline: 0;
        border-radius: .3em;
        border: 1px solid #dcdcdc;
        width: 100%;

        @media (max-width: 1440px) {
            padding: .6em 1em;
        }

        @media (max-width: 768px) {
            font-size: calc(0 * 0vw + .8em);
            max-width: 100%;
        }

        @media (max-width: 550px) {
            font-size: calc(0 * 0vw + 1em)!important;
            max-width: 100%;
        }

        @media (max-width: 400px) {
            font-size: calc(0 * 0vw + 1.1em)!important;
            max-width: 100%;
        }
    }

    &__btn {
        margin-top: 2em ;
        padding: .2em .7em!important;
        text-transform: none!important;
        background: $color!important;
        width: 100%;

        @media (max-width: 1024px) {
            padding: .7em 1em!important;
        }

        @media (max-width: 768px) {
            font-size: calc(0 * 0vw + .8em)!important;
            max-width: 100%;
        }

        // @media (max-width: 550px) {
        //     font-size: calc(0 * 0vw + 1.2em)!important;
        //     max-width: 100%;
        // }
    }
    
    &__file {
        margin-bottom: 1em!important;
        width: 100%;
        padding: .2em .7em!important;
        text-transform: none!important;
        border-color: #9e9e9e!important;
        color: #9e9e9e!important;
        border-style: dashed!important;

        @media (max-width: 768px) {
            font-size: calc(0 * 0vw + .8em)!important;
            max-width: 100%;
        }

        @media (max-width: 550px) {
            font-size: calc(0 * 0vw + 1em)!important;
            max-width: 100%;
        }

        @media (max-width: 400px) {
            font-size: calc(0 * 0vw + 1.36em)!important;
            max-width: 100%;
        }

        &:hover {
            border-color: $color!important;
            color: $color!important;
            border-style: dashed!important;
        }
    }

}