
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$color : rgb(116, 52, 245);

html, 
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale ;

    font-size: 1.2vw;
    max-width: 100%;
    height: 100%;

    &::-webkit-scrollbar {
        width: .3em;
    }

    &::-webkit-scrollbar-thumb {
        background: $color;
    }
  }

//mixin 
@mixin over {
    transition: color .3s ease-in-out;

        &::after {
            content: "";
            position: absolute;
            bottom: -.5em;
            left: 0;
            width: 100%;
            height: .050em;
            background: lighten($color, 17);
            transform-origin: top right;
            transform: scale(0);
            transition: transform .4s ease-in-out;
        }

        &:hover {
            color: lighten($color, 7);

            &::after {
                content:"";
                transform-origin: top left;
                transform: scale(1)
            }
        }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}


.app {
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 70rem;
    height: 100%;

    @media (max-width: 768px) {
        margin: 0 0;
        padding: 0 .2em;
        max-width: 100%;
        font-size: calc(0 * 0vw + 2em);
    }
}


.popResp {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.382);
    z-index: 150;
    width: 100%;
    height: 100%;
    animation: keys .3s ease-in-out;

        @keyframes keys {
            from {
                opacity: 0;
            }
            to {
               opacity: 1;
            }
        }


    &__container {
        display: flex;
        align-items: center;
        height: 3em;
        // transition: transform .5s ease-in-out;
        animation: keys .4s ease-in-out;

        @keyframes keys {
            from {
                opacity: 0;
            }
            to {
               opacity: 1;
            }
        }
    }
}


.isload {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(241, 241, 241);
    z-index: 200!important;
}

.isload-up {
    @extend .isload;
    z-index: 1000!important;
    width: 100%;
}

.response__http {
    position: absolute;
    top: 2em;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    @media (max-width: 768px) {
        top: 0;
    }

    @media (max-width: 500px) {
        top: 1em;
        font-size: calc(0 * 0vw + 1.5em);
    }
}

.response__bad {
    display: inline-block;
    padding: .6em .7em;
    border-radius: .3em;
    font-size: .8em;
    background-color: #ffffff21;
    border: 1px solid rgba(136, 136, 136, 0.147);
    box-shadow: 2px 3px 15px #e9e9e9;
    color: rgba(255, 0, 0, 0.655);
    animation: als 1s ease-in-out;

    @keyframes als {
        from { opacity: 0 }
        to { opacity: 1 }
    }

    @media (max-width: 500px) {
        top: 1em;
    }
}


@import './header.scss';
@import './home';
@import './banner';
@import './footer';
@import './about';
@import './news';
@import './profil';
@import './friends';
@import './search';
@import './pop';
@import './users';
@import './new';
@import './user';
@import './myProfile';
@import './signin';
@import './signup';
@import './contact';
@import './redirect'