
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$color : rgb(116, 52, 245);

html, 
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale ;

    font-size: 1.2vw;
    max-width: 100%;
    height: 100%;

    &::-webkit-scrollbar {
        width: .3em;
    }

    &::-webkit-scrollbar-thumb {
        background: $color;
    }
  }

//mixin 
@mixin over {
    transition: color .3s ease-in-out;

        &::after {
            content: "";
            position: absolute;
            bottom: -.5em;
            left: 0;
            width: 100%;
            height: .050em;
            background: lighten($color, 17);
            transform-origin: top right;
            transform: scale(0);
            transition: transform .4s ease-in-out;
        }

        &:hover {
            color: lighten($color, 7);

            &::after {
                content:"";
                transform-origin: top left;
                transform: scale(1)
            }
        }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}


.app {
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 70rem;
    height: 100%;

    @media (max-width: 768px) {
        max-width: 75rem;
        font-size: calc(0 * 0vw + 2em);
    }
}


@import './header.scss';
@import './home';
@import './banner';
@import './footer';
@import './about';
@import './news';
@import './profil';
@import './friends';
@import './search';
@import './pop';
@import './users';
@import './new';
@import './user';
@import './myProfile';
@import './signin';
@import './signup';
@import './contact';